.text-area {
    text-area-background: #2E3757 ;
    -fx-background-color: transparent,  #2E3757, transparent,  #2E3757;
    -fx-border-radius: 15 15 0 15;
    -fx-background-radius: 15 15 0 15;


}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-border-radius: 15 15 0 15;
    -fx-background-radius: 15 15 0 15;
}
.text-area:focused .content {
    -fx-background-color: transparent, #2E3757, transparent, #2E3757;
}

